

<main class="list">
    <div class="list__items" data-list-items>
        <a asp-controller="Home" asp-action="summary">
            <img class="preview__image" src="" alt="book image" />
            <div class="preview__info">
                <div class="preview__title">title</div>
                <div class="preview__author">author</div>
            </div>
        </a>
    </div>
    <div class="list__message" data-list-message>No results found. Your filters might be too narrow.</div>
    <button class="list__button" data-list-button></button>
</main>
